<h1>Devis <%= @quote_check.id %></h1>

<%= link_to "Devis #{@quote_check.id} frontend", @quote_check.frontend_webapp_url %>

<%= link_to "Devis #{@quote_check.id} backend", quote_check_url(@quote_check) %>
