---
http_interactions:
- request:
    method: get
    uri: https://data.ademe.fr/data-fair/api/v1/datasets/historique-rge/lines?qs=siret:12345678900000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Resource:
      - '{"type":"datasets","id":"historique-rge","title":"Historique%20des%20entreprises%20RGE%20depuis%202014"}'
      X-Owner:
      - '{"type":"organization","id":"g1pKfMqaE"}'
      X-Operation:
      - '{"class":"read","id":"readLines","track":"readDataAPI"}'
      Last-Modified:
      - Mon, 23 Dec 2024 04:04:23 GMT
      Etag:
      - W/"21-2J59EOE12+2khuKa9EOcemGRsF8"
    body:
      encoding: UTF-8
      string: |-
        {
          "total": 0,
          "results": []
        }
  recorded_at: Mon, 23 Dec 2024 15:40:26 GMT
recorded_with: VCR 6.3.1
