<% content_for(:page_title) { "A propos" } %>

<div class="fr-grid-row">
  <div class="fr-col-12 fr-col-md-6">
    <h1>A propos</h1>


    <p class="fr-text--lead">Mon Devis Sans Oublis est un service conçu par la <a href="https://www.numerique.gouv.fr/dinum/">Direction générale de l'aménagement, du logement et de la nature (DGALN)</a> en partenariat avec le programme <a href="https://beta.gouv.fr/">beta.gouv</a>. Ce service a pour objectif de fluidifier l'instruction des aides à la rénovation énergétique des logements pour en réduire les délais.

    Mon Devis Sans Oublis est incubé par l'incubateur la fabrique numérique de l'écologie (MTE-MCT).</p>

   <p>Mon Devis Sans Oublis a été lancé en version beta. L’objectif est de le confronter à des usagers pour le faire rapidement évoluer en fonction des premiers retours.

Vous pouvez en apprendre davantage sur le problème que nous souhaitons résoudre, les solutions que nous expérimentons et comment nous comptons en étudier l'impact en lisant notre <a href="https://beta.gouv.fr/startups/checklist.demande.aides.renovation.energetique.html">fiche produit.</a></p>

<p>Le code source est ouvert et les contributions sont bienvenues. <a href="">Voir le code source</a></p>
<p>N’hésitez pas à nous écrire à contact@mon-devis-sans-oublis.beta.gouv.fr</p>
</div>
